{{define "Dashboard"}}
{{template "Head"}}
{{template "Menubar"}}
<div class="row">
	<div class="col-md-12">
		<p class="lead">Welcome to the dashboard, {{.Username}}.</p>
	</div>
</div>
{{template "Foot"}}
{{end}}