{{define "Login"}}
{{template "Head"}}
<div class="row">
  <div class="col-md-12">
    <form role="form" class="login-form" method="post" action="/login">
      <div class="form-group">
	<div class="input-group">
	  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	  <input type="text" class="form-control" id="username" name="username" placeholder="Username">
	</div>
      </div>

      <div class="form-group">
	<div class="input-group">
	  <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
	  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
	</div>
      </div>

      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
  </div>
</div>
{{template "Foot"}}
{{end}}
