{{define "Menubar"}}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menubar-collapse">
	<span class="sr-only">Toggle menubar</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="#">Flotilla</a>
    </div>

    <div class="collapse navbar-collapse" id="menubar-collapse">
      <ul class="nav navbar-nav">
	<li><a href="/">Dashboard</a></li>
      </ul>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/settings">Settings</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
{{end}}
